p
ul(class="nav nav-tabs")
    li(class=indexActive)
        a(href='/../index') 股票列表
    li(class=setActive)
        a(href='/../set') 定制选股
    li(class=pastActive)
        a(href='/../test') 历史测试
    li(class=stockActive)
        a(href='/../stock') K线图