/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.5);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 2px;
	top: 5px;
	border: none;
	background: url(../img/close.png) no-repeat center center;
	z-index: 1;
}


/* Overlay closing cross */
.overlay .overlay-close-contentpush {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 16vw;
	top: 15vh;
	border: none;
	background: url(../img/close.png) no-repeat center center;
	z-index: 1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

/* Effects */
.overlay-contentpush {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}