<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script src="dist/jquery.min.js"></script>
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="dist/css/bootstrap-theme.min.css"></script>
        <script src="dist/js/bootstrap.min.js"></script>
        <title>Emall</title>
    </head>
    <body>
        <img src="img/404.png" class="img-responsive center-block">
    </body>
</html>