html
    head
        title
            |Stocks & Shares
    body
        include ./includes/head.jade

        div
            h3 
                = code + ' 日线图'
            img(src='http://image.sinajs.cn/newchart/daily/n/' + code + '.gif')
        div
            h3 
                = code + ' 分时图'
            img(src='http://image.sinajs.cn/newchart/min/n/' + code + '.gif')
        div
            h3 
                = code + ' 周线图'
            img(src='http://image.sinajs.cn/newchart/weekly/n/' + code + '.gif')
        div
            h3 
                = code + ' 月线图'
            img(src='http://image.sinajs.cn/newchart/monthly/n/' + code + '.gif')
            
        style
            include ../public/css/css.css
            include ../node_modules/bootstrap/dist/css/bootstrap.min.css
            include ../node_modules/bootstrap/dist/css/bootstrap-theme.min.css
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='include ../node_modules/jquery/dist/jquery.min.js')
        script(src='include ../node_modules/angular/angular.min.js')
